<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>Trip Pesanan Masuk</title>
    <style>
        /* .range {
            margin-top: 100px;
            margin-bottom: 100px;
        } */
        
        .latar-tabel {
            width: 599px;
            height: 527px;
            mix-blend-mode: undefined;
            background-color: #f5f5f5;
            border: solid 1px #ebebeb;
        }
        
        .kotak-dalam {
            width: 471px;
            height: 180px;
            background-color: #ffffff !important;
            margin-top: 25px;
        }
        
        .logo {
            width: 162px;
            height: 39px;
            margin-top: 42px;
        }
        
        .judul-email {
            font-size: 30px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            color: #373737;
            margin-top: 25px;
        }
        
        .keterangan-email {
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            color: #4a4a4a;
            margin-top: 0;
        }
        
        .paket {
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            color: #4a4a4a;
            margin-top: 10px;
            margin-left: 15px;
            margin-bottom: 0;
        }
        
        .nama-paket {
            font-size: 30px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            color: #ab47bc;
            margin-left: 15px;
            margin-top: 0;
            margin-bottom: 0;
        }
        
        .keterangan-paket {
            font-size: 15px;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            color: #4a4a4a;
            margin-left: 15px;
            margin-top: 0;
        }
        
        .warna-button {
            width: 216px;
            height: 37px;
            mix-blend-mode: undefined;
            border-radius: 3px;
            border: none;
            background-color: #ab47bc;
            margin-left: 120px;
            margin-top: 20px;
            color: #ffffff;
            font-size: 15px;
            font-weight: bold;
        }
        
        #pageFooter {
            margin-top: 50px;
        }
        
        .font-footer {
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            color: #4a4a4a;
        }
        
        .margin-tabel {
            padding: 5px;
        }
        
        .tabel-dalam {
            margin-left: 60px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="table">
            <div class="latar-tabel">
                <div class="tabel-dalam">
                    <tr>
                        <img src={{img}} class="logo">
                    </tr>
                    <tr>
                        <td>
                            <div class="judul-email">Pesanan Baru</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="keterangan-email">Anda mendapat pesanan baru dari <b>{{user_name}}</b><br>pada {{date_pay_trip}}.</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="kotak-dalam">
                                <div class="margin-tabel">
                                    <div class=" paket ">Paket :</div>
                                    <div class="nama-paket ">{{booking.id_trip.trip_name}}</div>
                                    <div class="keterangan-paket ">Tanggal Berangkat : {{start_date}}</div>
                                    <button class="btn btn-default warna-button "><a href="https://travinesia.com/Provider/DaftarPemesanan/{{booking.id_trip}}">Cek Pemesanan</a></button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <div id="pageFooter">
                        <div class="font-footer">
                            2018. PT Travinesia Muda Berkarya
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>